
/* * {
  border: 1px solid red;
} */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url('header.jpg');
  background-size: cover;
  background-position: center;
}
.icon {
  margin-left: 15px;
  margin-top: 12px;
}
.icon img {
  height: auto;
  width: 100px;
}
.rentr h2 {
  margin: 0px;
  padding-left: 8px;
  padding-bottom: 2px;
}
.session {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-top: 10px;
}
.create-login {
  display: flex;
  flex-direction: row;
}
.user, .login {
  text-align: center;
}
.user form{
  display: flex;
  flex-direction: column;
}
.login form{
  display: flex;
  flex-direction: column;
}
.logout {
  display: flex;
  justify-content: flex-end;
}
.login input[type=text], .user input[type=text], .login input[type=password], .user input[type=password] {
  border: 1px solid #313131;
  margin: 1px;
}
.logout button {
  width: 152px;
}
.login input[type=submit], .user input[type=submit], .logout button {
  background: #313131;
  color: white;
  border: none;
  margin: 1px;
}
.login input[type=submit]:hover, .user input[type=submit]:hover, .logout button:hover {
  background: #575757;
  color: white;
  border: none;
}
h2 {
  font-size: 15px;
}

li img {
  width: 100%;
  height: auto;
}

.property {
  width: 30%;
  margin: 20px;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.propertyImages {
  display: flex;
  flex-flow: wrap;
  justify-content: center
}
