.containDiv {
  width: 1500px;
  height: 1500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containDiv ul {
  width: 100%;
}

#imgLine {
  width: 100%;
  margin: 0 auto;
}

#showImg {
  width: 1500px;
  height: 1000px;
}
