.containDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containDiv ul {
  width: 100%;
}

#imgLine {
  width: 100%;
  margin: 0 auto;
}

#showImg {
  width: 100%;
  height: 100%;
}
