<form ng-submit="ctrl.updateProperty(ctrl.property)">
  <input type="text" ng-model="ctrl.image" placeholder="{{ctrl.property.image}}"/>
  <br/>
  <input type="text" ng-model="ctrl.rent" placeholder="{{ctrl.property.rent}}"/>
  <br/>
  <input type="text" ng-model="ctrl.sqft" placeholder="{{ctrl.property.sqft}}"/>
  <br/>
  <input type="text" ng-model="ctrl.beds" placeholder="{{ctrl.property.beds}}"/>
  <br/>
  <input type="text" ng-model="ctrl.baths" placeholder="{{ctrl.property.baths}}"/>
  <br/>
  <input type="text" ng-model="ctrl.address" placeholder="{{ctrl.property.address}}"/>
  <br/>
  <input type="text" ng-model="ctrl.city" placeholder="{{ctrl.property.city}}"/>
  <br/>
  <input type="text" ng-model="ctrl.state" placeholder="{{ctrl.property.state}}"/>
  <br/>
  <input type="text" ng-model="ctrl.zip" placeholder="{{ctrl.property.zip}}"/>
  <br/>
  <input type="submit" name="" value="CREATE"/>
</form>

<!-- FOR INDEX.HTML -->
<!-- <div ng-include="/partials/properties/edit_property.html"></div> -->
