
<div class="devs">
  <h6>Developers</h6>
  <a href="https://github.com/acroak">Andrea Croak</a>
  <a href="https://github.com/austynheinlein">Austyn Heinlein</a>
  <a href="https://github.com/joseph-weber">Joseph Weber</a>
</div>
<div class="ga">
  <h6>Rentr</h6>
  <p>Created for GA WDIR 2018 &copy;</p>
  <a href="https://generalassemb.ly/">General Assembly</a>
</div>
<div class="info">
  <h6>More Info</h6>
  <a href="#">Contact</a>
  <a href="#">Careers</a>
</div>
</div>


<!-- FOR INDEX.HTML -->
<!-- <div class="footer" ng-include=" 'partials/footer.html'"></div> -->
