
<!-- <div class="container"> -->
  <!-- LOGO --><!-- CREATE USER --><!-- CREATE LOGIN --><!-- LOG OUT BUTTON -->

  <!-- HEADER -->
<!-- <div class= "header" ng-include="'partials/header.html'"></div> -->
<!-- CREATE NEW PROP BUTTON -->
<!-- <div class="new-prop" ng-include="'/partials/properties/create_property.html'"></div> -->
<div class="containDiv">
    <ul>
      <li class="imgLine"><img class="showImg" src="{{ctrl.property.image}}"/></li>

      <div class="showBtns">
        <button ng-if="ctrl.loggedIn" ng-click="ctrl.likeProperty(ctrl.property)">Like this Property</button>

        <button ng-click="ctrl.toggleShow()">Return Home</button>
      </div>

    </ul>

  <div class="underImg">
  <ul>
    <div class="propdata">
      <li>Rent: {{ctrl.property.rent}}</li>
      <li>Square Feet: {{ctrl.property.sqft}}</li>
      <li>Address: {{ctrl.property.address}} {{ctrl.property.city}}, {{ctrl.property.state}}
      <br/>
      {{ctrl.property.zip}}  </li>
      <li>Beds: {{ctrl.property.beds}}</li>
      <li>Baths: {{ctrl.property.baths}}</li>
    </div>
      <!-- <li><button ng-click="ctrl.toggleShow()">Return Home</button> -->
    </ul>
    <p>About: {{ctrl.property.description}}</p>
  </div>
  <h2>My First Google Map</h2>

  <div id="googleMap" style="width:100%;height:200px;"></div>
</div>
