
  <form ng-submit="ctrl.createProperty()">
    {{ctrl.rent}} - {{ctrl.address}}
    <br/>
    <input type="text" ng-model="ctrl.image" placeholder="image url"/>
    <br/>
    <input type="text" ng-model="ctrl.rent" placeholder="rent"/>
    <br/>
    <input type="text" ng-model="ctrl.sqft" placeholder="sqft"/>
    <br/>
    <input type="text" ng-model="ctrl.beds" placeholder="beds"/>
    <br/>
    <input type="text" ng-model="ctrl.baths" placeholder="baths"/>
    <br/>
    <input type="text" ng-model="ctrl.address" placeholder="street address"/>
    <br/>
    <input type="text" ng-model="ctrl.city" placeholder="city"/>
    <br/>
    <input type="text" ng-model="ctrl.state" placeholder="state"/>
    <br/>
    <input type="text" ng-model="ctrl.zip" placeholder="zip"/>
    <br/>
    <input type="submit" name="" value="CREATE"/>
  </form>

  <!-- FOR INDEX.HTML -->
  <!-- <div ng-include="/partials/properties/create_property.html"></div> -->
